* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin: 10vh;
  border: black solid 1px;
  width: 200vh;
  height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.foto {
  height: 22vh;
  margin-left: 1vh;
}

.dados {
  margin-left: 1vh;
}

.negrito {
  font-weight: bold;
}

.greetingCard {
  margin: 10vh;
  padding-left: 10px;
  border: black solid 1px;
  width: 100vh;
  height: 10vh;
  display: flex;
  align-items: center;
}
